@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>Proyecto Final Programacion Web I</h3>
    <p class="lead badge">Parqueo App</p>
</div>

<div class="row">
   <img src="~/img/fondo.jpg" />
</div>